@import "tailwindcss";

@theme {
  --color-brand-bg: #fafbfc;
  --color-brand-text: #0f172a;
}

body {
  background-color: var(--color-brand-bg);
  color: var(--color-brand-text);
  @apply antialiased font-sans selection:bg-cyan-200;
}
